<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/layout.css">
    </head>
    <body>
        <%- include('header',{genres})%>
        <ul>
            <li>Title: <%= book.title%></li>
            <li>Author: <%= book.authors[0]%></li>
            <li>Rating: <%= book.rating%></li>
            <li>Description: <%= book.description%></li>
            <li>Genres: <% for (let i=0; i<book.genres.length; i++){%>
                <%=book.genres[i] %>
            <%}%>
            </li>
        </ul>
        <%- include('footer')%>
    </body>
</html>