<html>
  <head>
    <title><%= title%></title>
    <link rel="stylesheet" href="/layout.css" />
  </head>
  <body>
    
    <%- include('header',{genres})%>
    <div class="page_container">
      <h1><%= title%></h1>
      <% if (type=="Genre"){%>
      <a href="/genre/<%=genre%>/update">Edit genre</a>
      <form
        action="/genre/<%= genre%>/delete"
        method="post"
        onsubmit="return confirm('Are you sure you want to delete this genre?');"
      >
        <button type="submit">Delete genre</button>
      </form>
      <%}%> <%- include('list',{books})%>
    </div>
    <%- include('footer')%>
  </body>
</html>
